
<div class="row">
<div class="large-12 columns spaced">
	
</div>
	<div class="large-10 large-offset-2 columns">
		<div class="large-6 columns timed">
			<p class="clock">
				<%= Time.now.to_formatted_s(:time)%>
			</p>
			<span><%= Time.now.strftime("%A %b %d") %></span>
			
		</div>
		<div class="large-6 columns side" id="top">
			<p class='sections'>
				&nbsp;&Omicron;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				FORUM
			</p>
		</div>
		<div class="large-6 columns side" id="side2">
			<p class='sections'>
				&nbsp;&Omicron;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				BLOGS
			</p>
		</div>
		<div class="large-6 columns side" id="thirdside">
			<p class='sections'>
				&nbsp;&Omicron;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				TRAIN
			</p>
		</div>
		<div class="large-6 columns side" id="side4">
			
			<p class='sections'>
				&nbsp;&Omicron;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				STORE
			</p>
		</div><br />
		<div class="large-3 columns bottom" id='bleft'>
			sss
		</div>
		<div class="large-3 columns bottom" id = 'b2bomer'>
			sss
		</div>
		<div class="large-3 columns bottom" id ='s2last'>
			sss
		</div>
		<div class="large-3 columns bottom" id='bright'>
			sss
		</div>
	</div>
</div>

