<div id="comments">
	<% @comments.each do |comment| %>
		<div class="comment">
			
			<%= simple_format comment.content %>
			<span class='left'><%= comment.user.profile_name %></span><br/><hr />
		</div>
	<%end%>
</div>
