<div class="row ">
	<h2>Video Title<small>part:3</small></h2>
		<div class="flex-video">   
			
			<iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/GizmoT/folders/Classroom/media/dde14105-24e0-4bb4-92ae-85b11f0a2f0b/embed" height="600" width="800" ></iframe>
		</div>
		<div class="large-4 columns">
		<ul data-orbit>
			  <li>
			    <img src="http://placehold.it/300x300&text=[Video Thumbnail]" />
			    <div class="orbit-caption">Description</div>
			  </li>
			  <li>
			    <img src="http://placehold.it/300x300&text=[Video Thumbnail]" />
			    <div class="orbit-caption">Description</div>
			  </li>
			  <li>
			    <img src="http://placehold.it/300x300&text=[Video Thumbnail]" />
			    <div class="orbit-caption">Description</div>
			  </li>
			  </li>
			  <li>
			    <img src="http://placehold.it/300x300&text=[Video Thumbnail]" />
			    <div class="orbit-caption">Description</div>
			  </li>
			  <li>
			    <img src="http://placehold.it/300x300&text=[Video Thumbnail]" />
			    <div class="orbit-caption">Description</div>
			  </li>
		</ul>
		</div>
		<div class="large-8 columns">
			<h3>Description of Series</h3>
			<p>
				Bacon ipsum dolor sit amet bresaola pork corned beef, shoulder tail boudin leberkas jerky pork loin venison doner pancetta fatback flank. Ham pastrami shank drumstick pork, meatball strip steak biltong kielbasa brisket meatloaf sirloin pork loin tail bacon. Sausage ham hock ham kielbasa pork belly jerky flank shoulder jowl hamburger. Beef brisket turkey tri-tip biltong, chicken sirloin shankle fatback filet mignon pork loin salami leberkas tongue. Rump pork belly shoulder, pork chop ham brisket spare ribs capicola. Short ribs beef ball tip ham tri-tip, pancetta filet mignon pork belly.

Short ribs shankle leberkas ball tip hamburger tongue tail chuck salami fatback spare ribs swine. Cow pork fatback tail. Beef leberkas fatback salami pancetta. Ground round tri-tip drumstick bacon turducken, filet mignon sausage. Doner shank sirloin beef, frankfurter jerky pancetta jowl boudin chuck strip steak. Filet mignon hamburger pig bresaola.
			</p>
		</div>
</div>

