<div class="row">
      <%= simple_form_for [@topic, @post] do |f| %>
      <% if @post.errors.any? %>
        <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
      <% end %>
          <h1 class="optima">
          	Post
          </h1>
        <%= f.text_area :body, :cols => 60, :rows => 15 %>
        
        <%= f.button :submit %> or <%= link_to "cancel", @topic %>
        
    <% end %>
  
</div>