/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require component
 *= require default
 *= require foundation_and_overrides
 *= require_tree .
 */


.alert {
	margin-top: 10px;
}

p {color:#888888;}

.blogged {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: red;
}



li a {color: white;}
li a:hover {color:#A53130}

.navig li {
	display: inline;
}
.isactive {
	font-size: 72px;
	color: #A53130;
	font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif"

}
.notactive {
	font-size: 24px;
	color: white;
	font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif"
}


.catego {
	height: 270px;
	background: lightgray; 
	margin-bottom: 15px;
}

.catego2 {
	height: 190px;
	background: lightgray; 
}

.sidecat {
	height: 118px;
	background: lightgray; 
}

.btn {
	width: 125px;
	height: 50px
	border: 1px solid white;
	color: white;
	font-weight: bold;
	background: none;
	font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", "sans-serif"
	
}
