// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.him {
  -moz-box-shadow:    0px 4px 6px 0px #000;
  -webkit-box-shadow: 0px 4px 6px 0px #000;
  box-shadow:         0px 4px 6px 0px #000;
  padding: 0px;
  border-radius: 15px;
}
.txt {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.goof {
  background: red;
  height: 720px;
  border-radius: 15px;
}

.timed {
  height:360px;
  background: #B75A59;
  border-radius: 15px 0px 0px 0px;
  text-align: center;
  padding-top: 100px;
  color: #7C2524;
  font-size: 24px;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.sections {
  line-height: 90px;
  //text-align: center;
  color: white;
  font-size: 30px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
.side {
  height: 90px;
}
#top {
  border-radius: 0px 15px 0px 0px;
  background: #7C2524;
}

#top:hover {
  background: #444;
}

#thirdside{
  background: #7C2524;
}

#thirdside:hover {
  background: #444;
}

#side4 {
  background: #A53130
}
#side4:hover {
  background: #444;
}

#side2{
  background: #A53130
}

#side2:hover {
  background: #444;
}
.bottom {
  height: 360px;
 
}

#bleft{
  border-radius: 0px 0px 0px 15px;
  background: #7C2524;
}

#bleft:hover {
  background: #5b2425;
}
#bright{
   border-radius: 0px 0px 15px 0px;
   background: #290C0C;
   overflow: hidden;
}

#bright p {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.1em;
}

#bright h2 {
  color: white;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.spaced {
  height: 100px;
}

.clock {
  font-size: 80px;
  margin-bottom: 0px;
  color: white;
}

.dash_status {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.dash_status span {
  color: #B75A59; 
}

.dash_statusHead {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  color: lightgrey;
}

.dash_author {
  text-align: right;
  color: lightgrey;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
}

div article:hover {
  background: #111;
}

div article {
  padding: 10px;
}

#bright:hover {
  background: #000;
}
